{
  "parser": "babel-eslint",
  "extends": "./node_modules/mofo-style/.eslintrc.yaml",
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  },
  "plugins": [
    "react"
  ]
}
