html, body {
  height: 100%;

}

html, body, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

p + p {
  margin-top: 1em;
}

header {
  display: block;
  text-align: center;

  border: 2px solid pink;
  margin: 5px;
  box-sizing: border-box;
}

header h1 a {
  text-decoration: none;
}

.content {
  display: flex;
  align-items: flex-start;
  align-content: stretch;
}

.sidebar {
  flex: 0 1;
  background: rgb(240,240,250);
  min-width: 10rem;
  align-self: stretch;

  border: 2px solid pink;
  margin: 5px;
  box-sizing: border-box;
}

.main {
  flex: 1 1;

  background: rgb(245,245,255);

  border: 2px solid pink;
  margin: 5px;
  box-sizing: border-box;
}

.main ul {
  font-family: monospace;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

button {
  border: 2px solid pink;
  margin: 5px;
  box-sizing: border-box;
}

.data h3 {
  text-align: center;
  border: 1px solid black;
  border-width: 1px 0;
}